@font-face {
  font-family: "Chicago";
  src: url("../assets/Chicago.ttf");
}

$siteWidth: 1100px;

$normalGutter: 16px;
$smallGutter: 8px;
$smallestGutter: 4px;
$largeGutter: 20px;
$largerGutter: 24px;

$fontFamily: "Chicago";

$colorWhite: #fff;
$colorBlack: #000;
$colorGrey: #cccccc;

$transitionSpeed: 0.22s;
$radius: 8px;
