@font-face {
  font-family: "Chicago";
  src: url("/Chicago.ttf");
}

$siteWidth: 1100px;

$normalGutter: 16px;
$smallGutter: 8px;
$largeGutter: 24px;
$largerGutter: 48px;

$fontFamily: "Chicago";

$colorWhite: #fff;
$colorBlack: #000;
$colorGrey: #cccccc;

$transitionSpeed: 0.22s;
