@import "./_vars";

@mixin dotsBg($space, $size) {
  background: linear-gradient(
        90deg,
        $colorWhite ($space - $size),
        transparent 1%
      )
      center,
    linear-gradient($colorWhite ($space - $size), transparent 1%) center,
    $colorBlack;
  background-size: $space $space;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $colorWhite;
  color: $colorBlack;
  margin: 0;
  font-family: $fontFamily;
  line-height: 1;
}

.pageWrapper {
  height: 100vh;
  border: 10px solid $colorBlack;
  position: relative;
}

.pageInner {
  @include dotsBg(2px, 1px);
  z-index: 2;
  height: calc(100% + 8px);
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  border-radius: $radius;
}

.header {
  display: flex;
  align-items: center;
  padding: $smallGutter $largerGutter;
  border-bottom: 1px solid $colorBlack;
  background-color: $colorWhite;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

  > * + * {
    margin-left: $largeGutter;
  }

  img {
    height: 16px;
  }
}

.main {
  height: calc(100% - 32px);
  position: relative;
}

.calculator {
  background-color: $colorBlack;
  border-radius: $radius;
  border: 1px solid $colorBlack;
  display: inline-block;
  position: absolute;
}

.calculatorBar {
  background-color: $colorWhite;
  text-align: right;
  padding: $smallGutter $largerGutter;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom: 1px solid $colorBlack;
  user-select: none;
  cursor: pointer;
}

.calculatorInner {
  padding: 0 $smallestGutter $smallestGutter 0;
}

.calculatorContent {
  @include dotsBg(3px, 1px);
  padding: $normalGutter;
  border-radius: $radius;
  font-family: "Geneva";
  font-size: 21px;
}

.calculatorDisplay {
  border: 1px solid $colorBlack;
  background-color: $colorWhite;
  text-align: right;
  padding: $smallestGutter;
  margin-bottom: $smallGutter;
  overflow: hidden;
}

.calculatorRow {
  display: flex;
  margin-left: -#{$smallGutter};
  margin-bottom: 12px;

  &--last {
    margin-bottom: 0;
  }
}

.calculatorColumns {
  display: flex;
}

.calculatorBtn {
  padding: $smallGutter $normalGutter;
  background-color: $colorWhite;
  border: 1px solid $colorBlack;
  margin-left: $smallGutter;
  text-align: center;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    background-color: $colorBlack;
    position: absolute;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 2px;
    bottom: -5px;
  }

  &:after {
    content: "";
    background-color: $colorBlack;
    position: absolute;
    width: 4px;
    height: calc(100% + 3px);
    position: absolute;
    right: -5px;
    top: 2px;
  }

  &--wide {
    width: 88px;
    text-align: left;
  }

  &--tall {
    height: 92px;
    line-height: 6.7;
  }

  &--bottom {
    line-height: 1.4;
  }
}
